<div class="d-flex flex-column justify-content-center align-items-center my-2">
  <p class="display-6 color-viji">{{amount | currency: '&#8358;'}}</p>
    <button
angular4-paystack
[disabled]="!terms"
[email]="user.email"
[amount]="amt"
[ref]="reference!"
class="btn bg-viji btn-lg btn-rounded centered"
[metadata]="metadata"
(paymentInit)="initializePayment()"
(onClose)="cancelPayment(reference)"
(callback)="checkPaymentStatus(reference)"
>
<span *ngIf="loading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
<span role="status"> Pay into Escrow </span>
</button>

  </div>