h6, h4{
    text-align: center;
}
    p{
        margin: 0px;
        color: #00b53f;
        text-align: center;
    }

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    margin-bottom: 5px;
}
.terms {
    font-size: 12px;
    text-align: center;
}