<div>
   <h4 *ngIf="!transaction"> Loading Transaction</h4>
    <div class="container rounded loaded-product bg-white mt-4">
        <div *ngIf="transaction" class="row loaded_product">
            <div class="col-12">
            <p>Product Name:</p>
            <h6>
              {{transaction.product.advert.title}}
            </h6>
            </div>
            <div class="col-12">
              <p>Seller:</p>
              <h6>
                Name: {{transaction.product.seller.name}}, {{transaction.product.seller.phone}}
              </h6>
              </div>

              <div class="col-12">
                <p>Product Description:</p>
                <h6>
                  {{transaction.product.advert.category_name}} > {{transaction.product.advert.attrs[0].value}} > {{transaction.product.advert.attrs[1].value}}
                </h6>
                <h6>{{transaction.product.advert.description}}</h6>
                </div>
                <div class="col-12">
                  <p>Price:</p>
                  <h6>
                    {{ transaction.transaction_details.amount | currency: '&#8358;' }}
                  </h6>
                  <h6 *ngIf="transaction.status === 'created'" class="color-viji"  >
                    <small>Buyer Protection Fee: </small> {{ transaction.transaction_details.escrow_fee | currency: '&#8358;' }}
                  </h6>
                </div>
                <div class="col-12">
                  <p>Product Location:</p>
                  <h6>
                    {{transaction.product.advert.region_text}}
                  </h6>
                  </div>
                <div *ngIf="transaction.transaction_details.require_delivery" class="col-12">
                  <p>Delivery Details</p>
                  <h6>This product is at <strong>{{transaction.product.advert.region_text}}</strong> and will be delivered to you at <strong>{{transaction.transaction_details.delivery_region}}</strong> and delivery cost will be paid by {{transaction.transaction_details.who_pays_for_delivery}}</h6>
                </div>

                <div *ngIf="transaction.status === 'created'" class="col-12">
                    <p>Terms</p>
                    <div class="form-check item">
                        <input class="form-check-input m-2" type="checkbox" id="gridCheck" [(ngModel)]="agreeToTermsOfUse">
                        <label class="form-check-label" for="gridCheck">
                          I agree to the terms of use
                        </label>
                      </div>
                    <h6 class="terms">When you pay into our Secure holding Escrow account, we will not release the funds to the seller until you have received the item as described <br/> <small class="text-info"><a href="/terms">Read the full terms of use here</a></small></h6>
                  </div>
  
                <app-payment-button *ngIf="transaction.status === 'created'" [amount]="amountToPay()" [transaction]="transaction" [terms]="agreeToTermsOfUse" ></app-payment-button>

                <div *ngIf="transaction.status === 'started' || transaction.status === 'pending' || transaction.status === 'dispute'" class="item flex-column">
                  <button class="btn btn-success my-2 btn-lg" (click)="open(content)">I have received my Product</button>
                  <button class="btn btn-danger btn-sm">Report this Transaction</button>
                </div>

                  <p *ngIf="transaction.status === 'completed'" class="my-5">This Transaction is Marked Complete <br /> 
                  <a [routerLink]="['/transactions']" routerLinkActive="router-link-active"  class="btn btn-sm btn-secondary">view other transactions</a>
                  </p>

          </div>
    </div>


    <!-- complete transaction Modal -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Complete Transaction</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>Before marking this transaction as complete, please keep the following in mind:</p>
        <ul>
            <li>Inspect the item and ensure it's exactly what you ordered</li>
            <li>On delivery, check that the item delivered is exactly as described</li>
            <li>Only pay when you're satisfied</li>
            <li>We will release a sum of  <strong>{{transaction.transaction_details.amount | currency:'&#8358;'}} to {{transaction.product.seller.name}} </strong></li>
        </ul>
        <p>By proceeding, you acknowledge that you have reviewed and agree with the above points.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-success" (click)="completeTransaction()">Mark Transaction as Complete</button>
      </div>
    </ng-template>
  </div>