<nav class="navbar navbar-expand-lg sticky-top bg-viji">
    <small class="text-center mx-auto mb-1 "><u>Help us improve VijiPay. Share your feedback <a class="text-dark fw-bolder" href="https://forms.gle/oMgf5VHiVf3rog9s7" target="_blank">HERE</a></u></small>
    <div class="container-fluid">
      <a class="" routerLink="/">
        <img src="assets/logo.png" width="66" height="23" alt="logo">
      </a>
      
       <div class="justify-content-between align-items-center">
        <a *ngIf="loggedIn" routerLink="/transactions" class="menu-icon">
          <i class="fa-solid fa-list-check fa-xl"></i>
        </a>
        <a *ngIf="loggedIn" routerLink="/disputes" class="menu-icon">
          <i class="fa-solid fa-flag fa-xl" style="color: #d10000;"></i>
        </a>

        <!-- show icon if logged in -->
        <a *ngIf="loggedIn" routerLink="/profile" class="menu-icon">
          <i class="fa-solid fa-user fa-xl"></i>
        </a>
        <a *ngIf="!loggedIn" routerLink="/auth/login" class="menu-icon">
          <small>Login</small>
         </a>

          <small class="" *ngIf="!loggedIn">|</small>

         <a *ngIf="!loggedIn" routerLink="/auth/register" class="menu-icon">
          <small>Register</small>
         </a>
        <a routerLink="/create" class="btn btn-warning btn-sm">Create Escrow</a>
       </div>
    </div>
  </nav>