<div class="container text-center">
  <h4 class="mt-3"> {{!transactionsLoaded ? message : 'Transactions'}}</h4>
  <p *ngIf="transactionsLoaded && transactions?.length <= 0" class="text-center">You do not have any Transactions.</p>
  <div *ngIf="transactions?.length > 0">
    <ul  ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs justify-content-center">

      <li [ngbNavItem]="1" [destroyOnHide]="true">
        <button ngbNavLink>Active <span class="badge rounded-pill text-bg-dark">{{activeTransactions?.length}}</span></button>
        <ng-template ngbNavContent>
          <div class="list-group">
            <ng-container *ngIf="activeTransactions?.length > 0; else noActive">
              <a *ngFor="let transaction of activeTransactions" [routerLink]="isSeller ? '/seller-transaction/' + transaction.id : '/transaction/' + transaction.id" class="list-group-item list-group-item-action mb-2">
                <!-- Your transaction content here -->
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{transaction.transaction_details.amount | currency: '&#8358;' }}</h5>
                  <small class="text-body-secondary">{{transaction.updatedAt | date}}</small>
                </div>
                <p class="mb-1">{{transaction.product.advert.title}}</p>
                <p class="text-left"><small class="text-body-primary" [ngClass]="transaction.status === 'created' || transaction.status === 'started' || transaction.status === 'pending' ? 'text-dark': ''">{{setStatusMessage(transaction.status)}}</small></p>
              </a>
            </ng-container>
          </div>
        </ng-template>
        <ng-template #noActive>
          <p class="small text-center mt-5">You do not have any active transaction</p>
        </ng-template>
      </li>

      <li [ngbNavItem]="2">
        <button ngbNavLink>Completed <span class="badge rounded-pill text-bg-success">{{completedTransactions?.length}}</span> </button>
        <ng-template ngbNavContent let-active>
          <div class="list-group">
            <ng-container *ngIf="completedTransactions?.length > 0; else noComplete">
              <a *ngFor="let transaction of completedTransactions" [routerLink]="isSeller ? '/seller-transaction/' + transaction.id : '/transaction/' + transaction.id" class="list-group-item list-group-item-action mb-2">
                <!-- Your transaction content here -->
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{transaction.transaction_details.amount | currency: '&#8358;' }}</h5>
                  <small class="text-body-secondary">{{transaction.updatedAt | date}}</small>
                </div>
                <p class="mb-1">{{transaction.product.advert.title}}</p>
                <p class="text-left"><small class="text-body-primary" [ngClass]="transaction.status === 'completed' ? 'text-success': ''">{{setStatusMessage(transaction.status)}}</small></p>
              </a>
            </ng-container>
          </div>
        </ng-template>
        <ng-template #noComplete>
          <p class="small text-center mt-5">You have not completed any transaction</p>
        </ng-template>
      </li>
   <li [ngbNavItem]="3">
  <button ngbNavLink>Dispute <span class="badge rounded-pill text-bg-danger">{{disputedTransactions?.length}}</span></button>
  <ng-template ngbNavContent let-active>
    <div class="list-group">
      <ng-container *ngIf="disputedTransactions?.length > 0; else noDispute">
        <a *ngFor="let transaction of disputedTransactions" [routerLink]="isSeller ? '/seller-transaction/' + transaction.id : '/transaction/' + transaction.id" class="list-group-item list-group-item-action mb-2">
          <!-- Your transaction content here -->
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{transaction.transaction_details.amount | currency: '&#8358;' }}</h5>
            <small class="text-body-secondary"> Created: {{transaction.updatedAt | date}}</small>
          </div>
          <p class="mb-1">{{transaction.product.advert.title}}</p>
          <p class="text-left"><small class="text-body-primary" [ngClass]="transaction.status === 'dispute' || transaction.status === 'refund' ? 'text-danger': ''">{{setStatusMessage(transaction.status)}}</small></p>
        </a>
      </ng-container>
    </div>
  </ng-template>
  <ng-template #noDispute>
    <p class="small text-center mt-5">You have no transaction in Dispute</p>
  </ng-template>
</li>

      
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

  </div>