input {
    margin-bottom: 5px;
}

.btn-xs {
    --bs-btn-padding-y: .05rem; 
    --bs-btn-padding-x: .3rem; 
    --bs-btn-font-size: .75rem;
}

p {
    margin-bottom: 10px;
}
.form-control {
    margin-bottom: 10px;
}