<div class="container my-2" *ngIf="dispute else noData">
    <div class="jumbotron">
        <h3 class="text-center heading">{{dispute?.title}}</h3>
        <p class="text-center"><span class="badge rounded-pill text-bg-danger">{{dispute?.status}}</span> </p>
    </div>
    <h6 class="text-center"><strong>Buyer:</strong> BuyerName issomethe ThatisVeryLong, <small>{{dispute?.seller_phone}}</small></h6>
    <h6 class="text-center"><strong>Seller:</strong> Seller Name, <small>{{dispute?.seller_phone}}</small></h6>
   
    <div class="container bg-white rounded">
        <h5 class="text-center text-secondary pt-3">Reasons</h5>
        <ul class="list-group list-group-flush">
            <li *ngFor="let reason of dispute?.reason" class="list-group-item">{{reason.name}}</li>
          </ul>
        </div>
        <div class="jumbotron my-5">
          <h6 class="text-center">Decision:</h6>
          <h4 class="text-center color-viji fw-bold">{{dispute?.decision ? dispute?.decision : 'Not decided yet!'}} </h4>
      </div>
</div>
<ng-template #noData>
    <h3 class="text-center heading mt-5">{{message}}</h3>
</ng-template>