input{
text-align: center;
}
::placeholder{
    color: #656565 !important;
    font-size: 0.8rem;
    text-align: center;
}
.loaded-product {
    p{
        margin: 0px;
        color: #00b53f;
    }
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    margin-bottom: 5px;
}


input[type='checkbox']{
    width: 32px;
    height: 32px;
    border: 2px solid green;
}
input[type='checkbox']:checked {
background-color: #00b53f;
color: #fff;
}