
    <div class="container">
        <div *ngIf="!isProductFullyLoaded; else productLoaded" class="row">
           <div class="col-12 my-2 py-3 bg-viji">
            <p class="fs-5 text-center">Seen a product you want to buy on <span class="font-monospace fw-bold">Jiji.ng</span>?</p>

                <form #getJijiProduct="ngForm" (ngSubmit)="getProductFromJiji()" class="d-flex flex-column align-items-center" role="search">
                    <input class="form-control me-2" [(ngModel)]="productUrl" name="productUrl" required type="search" placeholder="copy the link from jiji & paste here" aria-label="Search">
                    <div class="w-40 my-2">
                        <button class="btn btn-light" type="submit">Get Product</button>
                    </div>
                </form>
            </div>
            <div *ngIf="productFetched && (!product?.seller.phone || message)">
                <p class="text-center"><span *ngIf="message?.one" class="text-danger">{{message.one}} for <br/></span> <span class="fw-bold fs-5">{{product?.advert.title}}</span></p>
                <div class="d-flex">
                  <img [src]="product?.advert.images_data.thumbnails[0].url" [alt]="product?.advert.title" class="img-responsive mx-auto" height="150px">
                </div>
                <p *ngIf="message?.two" class="text-center small text-secondary">{{message.two}}</p>
                <p *ngIf="message?.three" class="text-center small text-secondary">{{message.three}}</p>
                <form *ngIf="message?.three" #sellerPhoneNumber="ngForm" (ngSubmit)="updateSellerPhone()" class="d-flex flex-column align-items-center">
                  <input class="form-control me-2 phone_number" [(ngModel)]="sellerPhone" name="sellerPhone" required type="phone" placeholder="paste seller's phone number here" aria-label="Search">
                  <div class="w-40 my-2">
                    <button class="btn btn-viji btn-sm" type="submit">Save Number</button>
                  </div>
                </form>
                <div *ngIf="product.seller.phone"  class="w-40 my-5 d-flex flex-column justify-content-center">
                  <p class="text-success text-center">Product is fully loaded!</p>
                    <button class="btn btn-viji btn-sm" (click)="showProductTobeEscrowed()" type="button">Continue</button>
                  </div>
              </div>
        </div>
        <ng-template #productLoaded>
          <div class="d-flex justify-content-start mt-3">
            <button class="btn btn-sm bg-secondary rounded" (click)="showProductTobeEscrowed()"><i class="fa-solid fa-arrow-left"></i> back</button>
          </div>
          <div class="container rounded loaded-product bg-white mt-3">
              <div class="row">
                <div class="col-12">
                <p class="text-center">Product Name:</p>
                <h6 class="text-center">
                  {{product.advert.title}}
                </h6>
                </div>
                <div class="col-12">
                  <p class="text-center">Seller:</p>
                  <h6 class="text-center">
                    Name: {{product.seller.name}}, {{product.seller.phone}}
                  </h6>
                  </div>
                  <div class="col-12">
                    <p class="text-center">Product Description:</p>
                    <h6 class="text-center">
                      {{product.advert.category_name}} > {{product.advert.attrs[0].value}} > {{product.advert.attrs[1].value}}
                    </h6>
                    <h6 class="text-center">{{product.advert.description}}</h6>
                    </div>
                    <div class="col-12">
                      <p class="text-center">Price:</p>
                      <h6 class="text-center">
                        {{ product.advert.price.value | currency: '&#8358;' }}
                      </h6>
                      <h6 *ngIf="negotiatedPrice" class="text-center color-viji">
                        <small>New Price: </small> {{ negotiatedPrice | currency: '&#8358;' }}
                      </h6>
                      <div class="form-check item">
                        <label class="form-check-label" for="gridCheck">
                          Did you negotiate this Price?
                        </label>
                        <input class="form-check-input m-2" type="checkbox" id="gridCheck" [(ngModel)]="negotiated">
                      </div>
                      <div *ngIf="negotiated" class="form-group d-flex justify-content-center">
                        <input type="number" class="form-control m-2" placeholder="Enter Negotiated Price" id="negotiatedPrice" [(ngModel)]="negotiatedPrice">
                      </div>
                    </div>
                    <div class="col-12">
                      <p class="text-center">Product Location:</p>
                      <h6 class="text-center">
                        {{product.advert.region_text}}
                      </h6>
                      </div>
                    <div class="col-12">
                      <p class="text-center">Will this Transaction Require Delivery?</p>
                      <div class="form-check item">
                        <label class="form-check-label" for="gridCheck">
                          If Yes, Click here!
                        </label>
                        <input class="form-check-input m-2" type="checkbox" id="gridCheck" [(ngModel)]="requireDelivery">
                      </div>
                    </div>
                    <div *ngIf="requireDelivery" class="col-12">
                      <p class="text-center">Who is paying?</p>
                      <div class="item w-70">
                          <select id="inputState" class="form-select" [(ngModel)]="whoPaysForDelivery">
                            <option value="" selected>Choose...</option>
                            <option value="buyer">Myself</option>
                            <option value="seller">{{product.seller.name}}</option>
                          </select>
                      </div>
                    </div>
                    <div *ngIf="requireDelivery" class="col-12">
                      <p class="text-center">Delivery Location</p>
                      <input type="text" class="form-control m-2" placeholder="E.g: Wuse, Abuja" id="negotiatedPrice" [(ngModel)]="deliveryRegion">
                    </div>
                    <div class="col-12">
                      <p class="text-center">Buyer Protection Fee:</p>
                      <h6 class="text-center">
                        {{calculateEscrowFee() | currency: '&#8358;' }}
                      </h6>
                      </div>
                    <div class="col-12 item mt-2">
                      <button [disabled]="requireDelivery && whoPaysForDelivery === ''" type="button" class="btn bg-viji" (click)="createEscrowTransaction()">Create Escrow</button>
                      </div>
              </div>
          </div>
        </ng-template>
    </div>
