<div class="container">
    <div class="row justify-content-center">
        <div class="mt-5 col-md-6">
            <form (submit)="resetpassword()" class="card p-3">
                <h4 class="my-4 text-center">Reset Password</h4>
                <div class="row justify-content-center mb-3">
                    <div class="col-sm-10">
                      <label for="inputEmail3" class="">Enter password</label>
                    <input type="password" [(ngModel)]="password" name="password" (input)="checkPassword()" class="form-control" id="inputEmail3">
                  </div>
                  <div class="col-sm-10">
                      <label for="inputEmail3" class="">Confirm password</label>
                    <input type="password" [(ngModel)]="confirmPassword" (input)="checkPassword()" name="password" class="form-control" id="inputEmail3">
                  </div>
                </div>
                <p class="text-center text-danger small" *ngIf="password !== confirmPassword && confirmPassword">passwords do not match</p>
                <button [disabled]="!passwordMatch" type="submit" class="btn btn-viji w-auto px-5 mx-auto">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                  </span>
                  Reset Password</button>

              </form>
        </div>
    </div>
</div>