<main>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  
  <!-- <div class="fixed-bottom">
    <p *ngIf="isLoggedIn && user?.email_verified === false" class="small text-center mb-0 text-body-secondary w-100"> 
      <ngb-alert class="mb-0">
        <strong>Confirm your email address! </strong> <button (click)="sendCode()" class="btn btn-warning" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Send code</button> 
      </ngb-alert></p>
  </div> -->
</main>