<div class="container">
    <div class="row justify-content-center">
        <div class="mt-5 col-md-4 ">
            <form #f="ngForm" (ngSubmit)="register()" class="card p-3">
                <h4 class="my-4 text-center">Register</h4>
                <div class="row justify-content-center mb-3">
                    <div class="col-sm-10">
                      <label for="name" class="">Name</label>
                    <input type="text" [(ngModel)]="user.name" name="name" required class="form-control" id="name">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <div class="form-check form-switch">
                      <input class="form-check-input " type="checkbox" role="switch" [ngClass]="user.isSeller ? 'bg-success' : ''" [(ngModel)]="user.isSeller" name="isSeller" (change)="CheckUserType($event)" id="gridCheck1">
                        <label class="form-check-label small" for="gridCheck1">
                            Are you a Seller on Jiji? (<strong>{{user.isSeller ? 'YES' : 'NO'}})</strong>
                        </label>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-sm-10">
                      <label for="phone" class="">Phone Number <small class="color-viji small">{{user.isSeller ? '(provide your jiji number)' : ''}}</small></label>
                    <input type="phone"  required [(ngModel)]="user.phone" name="phone" class="form-control" id="phone">
                  </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-sm-10">
                      <label for="email" class="">Email</label>
                    <input type="email"  required [(ngModel)]="user.email" name="email" class="form-control" autocomplete="email" id="email">
                  </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-sm-10">
                      <label for="pasword" class="">Password</label>
                    <input type="password" required [(ngModel)]="user.password" name="password" class="form-control" id="password">
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <label class="form-check-label small" for="gridCheck1">
                            I agree to the <a routerLink="/terms">terms and conditions</a>
                        </label>
                        <input class="form-check-input" [ngClass]="acceptTerms ? 'bg-success' : ''" name="acceptTerms" [(ngModel)]="acceptTerms" (change)="onAcceptTerms($event)" type="checkbox" id="gridCheck1">
                    </div>
                  </div>
                </div>
                <button [disabled]="!acceptTerms" type="submit" class="btn btn-viji">
                  <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  Register</button>
                <p class="small mt-3 text-center">Already have an account? <a routerLink="/auth/login">Login Here</a></p>
              </form>
        </div>
    </div>
</div>