<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h2 class="display-3 fw-bold">Empowering Safe Transactions via Escrow</h2>
        <h3 class="fw-normal text-muted mb-3">Buy anything on Jiji with <span class="color-viji fw-bolder">100%</span> confidence</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
          <a class="icon-link" href="#">
            Learn more
            <i class="fa-solid fa-chevron-right"></i>
          </a>
          <div class="icon-link play-button" (click)="playVideo()">
            <div class="play-icon"></div>
          </div>
        </div>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="viji-gradient me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3 text-white">
          <h2 class="display-5">Sell to More Customers</h2>
          <p class="lead">Get more sales with vijiPay</p>
        </div>
        <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 330px;  border-radius: 21px 21px 0 0;">
        <p class="text-dark p-3">VijiPay empowers sellers on Jiji Marketplace in Nigeria by providing secure transactions, enabling them to effortlessly reach a wider audience and sell to more customers, regardless of location</p>

        <p class=" p-3 text-dark">With VijiPay, sellers can expand their reach within Nigeria, ensuring trusted transactions and access to a broader customer base on Jiji Marketplace.</p>

        </div>
      </div>
      <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Protects Buyers from Scam</h2>
          <p class="lead">Buy anything anywhere</p>
        </div>
        <div class="viji-gradient shadow-sm mx-auto" style="width: 80%; height: 330px; border-radius: 21px 21px 0 0;">
            <p class="text-white p-3">As a buyer, VijiPay offers you secure transactions on Jiji Marketplace, allowing you to shop with confidence from a diverse range of sellers across Nigeria.</p>

            <p class=" p-3 text-white">With VijiPay, buyers enjoy a trusted and seamless shopping experience on Jiji Marketplace, gaining access to a wider selection of products from sellers all over Nigeria.</p>
        </div>
      </div>
    </div>

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Features with title</h2>
    
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
          <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Left-aligned title explaining these awesome features</h2>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="btn btn-primary btn-lg">Primary button</a>
          </div>
    
          <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection"></use>
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#gear-fill"></use>
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#speedometer"></use>
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
              </div>
    
              <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#table"></use>
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis">How vijiPay Works</h1>
            <p class="col-lg-8 mx-auto lead">
                Discover the simple steps to using VijiPay for secure transactions. From listing your products to receiving prompt payouts, our platform streamlines the process for sellers and provides peace of mind for buyers.
            </p>
            <div class="row">
                <div class="col-md-3">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum quibusdam modi totam? Quo temporibus aliquid possimus doloremque ducimus laboriosam! Est fuga odit exercitationem. Minima possimus ipsam dolorum earum nesciunt autem est, id iste corrupti sit accusantium nemo tempore qui ratione.</p>

                </div>
                <div class="col-md-6">
                    <img src="..." alt="phone image">
                </div>
                <div class="col-md-3">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum neque praesentium inventore soluta quia incidunt quasi facere adipisci ut voluptate dicta, nihil fugit velit eaque consequatur amet nisi iusto laborum.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Custom cards</h2>
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>Earth</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>3d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>Pakistan</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>4d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="me-auto">
                    <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                  </li>
                  <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>California</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                    <small>5d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="my-5 ">
        <div class="p-5 text-white text-center viji-gradient">
          <div class="container py-5">
            <h1>Endless possibilities for every Business and Customer.</h1>
            <p class="col-lg-8 mx-auto lead">
                Ready to Expand Your Reach or Transact Securely on Jiji Marketplace? Get Started with VijiPay Today!
            </p>
            <button class="btn btn-lg btn-warning">Create Escrow</button> &nbsp; &nbsp; <a class="text-white" href="#">Contact Support <i class="fa-solid fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
  </main>