/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';
@import 'ngx-toastr/toastr-bs5-alert';
:root{
    background-color: #ebf2f7;
}
body{
    background-color: inherit;
}

.bg-viji{
    background-color: #00b53f;
    color: #f3f3f3;
    box-shadow: 1px 1px 4px rgba(80,114,125,.4);
}
.color-viji{
    color: #00b53f;
}
.btn-viji {
    --bs-btn-color: #fff;
    --bs-btn-bg: #00b53f;
    --bs-btn-border-color: #00b53f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #026625;
    --bs-btn-hover-border-color: #026625;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #026625;
    --bs-btn-active-border-color: #000a03;
    --bs-btn-active-shadow: inset 0 3px 5px #034b1d67;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #00b53f;
    --bs-btn-disabled-border-color: #00b53f;
}

a{
    text-decoration: none;
    color: #00b53f;
}